<div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
  <div data-year="2021" class="panel panel-default">
    <div class="panel-heading" id="heading2021" role="tab">
      <h4 class="panel-title"><a aria-controls="collapse2021" aria-expanded="true" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2021">2021년</a></h4>
    </div>
    <div aria-labelledby="heading2021" class="panel-collapse collapse in" id="collapse2021" role="tabpanel">
      <div class="panel-body">
        <ul>
          <li>조직 강화 활동
            <ul>
              <li>회원 확대 및 회원과의 교류 활성화</li>
              <li>홈페이지 개편 및 SNS 활동, 환경정의 뉴스레터 발송</li>
            </ul>
          </li>
          <li>기후위기 대응
            <ul>
              <li>시민 참여 나무 심기 및 도시 숲 조성 활동</li>
              <li>자원순환 등 생활 환경 인식 증진 및 기후 정책 대응</li>
              <li>대지산공원&nbsp;모니터링, 대지산 살리기 운동 20주년 기념 사업</li>
            </ul>
          </li>
          <li>하천 살리기 활동
            <ul>
              <li>용인시 통합물관리 조례 제정 및 하천 거버넌스 구축을 위한 활동</li>
              <li>하천 모니터링 및 미세플라스틱 오염원 조사 활동</li>
              <li>청소년하천동아리 'Fantastic 하천 10기' 운영</li>
            </ul>
          </li>
          <li>서식지 보전 활동
            <ul>
              <li>서농복합주민센터 부지 내 맹꽁이 사후모니터링(3차연도)</li>
              <li>대통령 직속 국가균형발전위원회 표창 수상(2021.10)</li>
              <li>2021 한국강의날연천대회 환경부장관상 수상(2021.11)</li>
              <li>멸종위기2급 대모잠자리 및 두꺼비 등 양서류 서식지 모니터링
                <ul>
                </ul>
              </li>
            </ul>
          </li>
          <li>난개발 대응&nbsp;
            <ul>
              <li>지역 난개발 대응 활동</li>
              <li>난개발 대응 매뉴얼 작성 및 시민교육</li>
              <li>용인지역 생태자산 조사 및 생태계서비스 평가
                <ul>
                </ul>
              </li>
            </ul>
          </li>
          <li>환경교육
            <ul>
              <li>랄랄라숲지킴이 활동</li>
              <li>지역아동센터 생태환경교육(성심원자연학교, 흥덕지역아동센터 환경교육)&nbsp;</li>
              <li>용인시 환경교육도시 추진 협력 활동</li>
            </ul>
          </li>
          <li>생활환경운동
            <ul>
              <li>용인시 화학사고 지역대비체계 구축 활동</li>
              <li>화학물질안전관리분야 환경부장관상 수상</li>
            </ul>
          </li>
          <li>연대활동
            <ul>
              <li>용인시민파워/용인 공익활동지원센터 추진 준비위원회</li>
              <li>용인기후행동</li>
              <li>경기환경교육네트워크</li>
              <li>경기도지속가능발전협의회</li>
              <li>한국강살리기네트워크</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div data-year="2020" class="panel panel-default">
    <div class="panel-heading" id="heading2020" role="tab">
      <h4 class="panel-title"><a aria-controls="collapse2020" aria-expanded="true" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2020">2020년</a></h4>
    </div>
    <div aria-labelledby="heading2020" class="panel-collapse collapse" id="collapse2020" role="tabpanel">
      <div class="panel-body">
        <ul>
          <li>조직 강화 활동
            <ul>
              <li>회원 확대 및 회원과의 교류 활성화</li>
              <li>홈페이지 개편 및 SNS 활동, 환경정의 뉴스레터 발송</li>
            </ul>
          </li>
          <li>멸종위기종 서식지 보전 활동
            <ul>
              <li>서농복합주민센터 부지 내 맹꽁이 사후모니터링(2차연도)</li>
              <li>고기동 습지 및 낙생저수지 일대 모니터링(멸종위기2급 대모잠자리 서식지)</li>
              <li>기타 습지 모니터링</li>
            </ul>
          </li>
          <li>하천 살리기 활동
            <ul>
              <li>하천 모니터링 및 캠페인, 물고기 떼죽음 대응&nbsp;</li>
              <li>용인 통합물관리 조례 제정 및 하천 거버넌스 구축을 위한 활동</li>
              <li>청소년하천동아리 'Fantastic 하천 9기' 운영</li>
            </ul>
          </li>
          <li>생활환경운동
            <ul>
              <li>용인시 화학사고 지역대비체계 구축 활동</li>
              <li>용인시민 정책 제안 - 화학물질감시학교 운영 등&nbsp;</li>
              <li>생활환경교육과 자원순환 캠페인</li>
            </ul>
          </li>
          <li>마을 숲 보전 활동
            <ul>
              <li>대지산, 대지산공원 모니터링</li>
              <li>수지생태공원 "쉼과 빛의 공원 조성사업" 관련 대응 활동</li>
              <li>랄랄라숲지킴이(대지산, 광교산, 석성산 등) 운영</li>
            </ul>
          </li>
          <li>난개발 대응 활동
            <ul>
              <li>지곡동 부아산 용인바이오밸리일반산업단지 개발 대응&nbsp;</li>
              <li>물류단지 개발 대응</li>
              <li>기타 난개발 대응 활동
                <ul>
                </ul>
              </li>
            </ul>
          </li>
          <li>연대활동
            <ul>
              <li>용인시민파워/용인 공익활동지원센터 추진 준비위원회</li>
              <li>용인지역 환경단체 모임</li>
              <li>용인기후행동</li>
              <li>경기환경교육네트워크</li>
              <li>경기도지속가능발전협의회</li>
              <li>경기화학물질알권리네트워크</li>
              <li>한국강살리기네트워크</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div data-year="2019" class="panel panel-default">
    <div class="panel-heading" id="heading2019" role="tab">
      <h4 class="panel-title"><a aria-controls="collapse2019" aria-expanded="true" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2019">2019년</a></h4>
    </div>
    <div aria-labelledby="heading2019" class="panel-collapse collapse" id="collapse2019" role="tabpanel">
      <div class="panel-body">
        <ul>
          <li>조직 강화 활동
            <ul>
              <li>회원 확대 및 회원과의 교류 활성화</li>
              <li>홈페이지 개편 및 SNS 활동</li>
              <li>환경정의 활동가 '동행' (민통선 일대 및&nbsp; 임진강 개발지)</li>
              <li>파타고니아 환경운동 컨퍼런스 참여</li>
            </ul>
          </li>
          <li>난개발 대응 활동
            <ul>
              <li>도시공원일몰제 대응 운동_고기공원 개발 반대</li>
              <li>제18회 한국강의날오산대회 수생태보전분야 '한강유역환경청장상' 수상</li>
              <li>제18회 한국강의날오산대회 수생태보전분야 '그리운습지상' 수상</li>
              <li>기타 난개발 대응 활동</li>
            </ul>
          </li>
          <li>습지 보전 활동
            <ul>
              <li>서농복합주민센터 부지 내 맹꽁이 사후모니터링(1차연도)</li>
              <li>고기동 습지 및 낙생저수지 일대 모니터링</li>
              <li>동막골두꺼비학교 습지지킴이 운영</li>
            </ul>
          </li>
          <li>마을 숲 보전 활동
            <ul>
              <li>대지산공원 벌목 반대 활동 및 모니터링</li>
              <li>대지산 살리기 운동 안내판, 땅 한평사기 운동 참가자 명판 설치</li>
              <li>랄랄라숲지킴이(대지산, 광교산, 석성산 등) 운영</li>
            </ul>
          </li>
          <li>하천 살리기 활동
            <ul>
              <li>하천 모니터링 및 하천 시민 모니터링 보고서 제작, 배포</li>
              <li>하천 활동 간담회 개최 및 탄천 지도 제작, 배포</li>
              <li>청소년하천동아리 ‘Fantastic 하천 8기 운영</li>
              <li>판타스틱하천, 용인시 환경보전 유공표창 수상</li>
              <li>제18회 한국강의날오산대회 청소년 '네트워크상' 수상</li>
              <li>&nbsp;</li>
            </ul>
          </li>
          <li>생활환경운동
            <ul>
              <li>화학사고 지역대비체계 구축 활동</li>
              <li>용인시 화학물질 안전관리에 관한 조례 제정 추진</li>
            </ul>
          </li>
          <li>연대활동
            <ul>
              <li>용인시민파워</li>
              <li>경기환경교육네트워크</li>
              <li>경기도지속가능발전협의회</li>
              <li>경기화학물질알권리네트워크</li>
              <li>한국강살리기네트워크</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div data-year="2018" class="panel panel-default">
    <div class="panel-heading" id="heading2018" role="tab">
      <h4 class="panel-title"><a aria-controls="collapse2018" aria-expanded="true" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2018">2018년</a></h4>
    </div>
    <div aria-labelledby="heading2018" class="panel-collapse collapse" id="collapse2018" role="tabpanel">
      <div class="panel-body">
        <ul>
          <li>조직 강화 활동
            <ul>
              <li>회원 확대 및 회원과의 교류 활성화</li>
              <li>홈페이지 개편 및 SNS 활동</li>
            </ul>
          </li>
          <li>난개발 대응 활동
            <ul>
              <li>부아산 보전 활동_용인 바이오밸리 일반산업단지 승인 반대 운동</li>
              <li>제16회 이곳만은 꼭지키자 시민응모전 '한국환경기자클럽상' 수상</li>
              <li>용인시 난개발특별조사위원회 참여</li>
              <li>기타 난개발 대응 활동</li>
            </ul>
          </li>
          <li>습지 보전 활동
            <ul>
              <li>서농복합주민센터 부지 내 맹꽁이 포획 이주 및 생태모니터링</li>
              <li>고기동 습지모니터링</li>
            </ul>
          </li>
          <li>마을 숲 보전 활동
            <ul>
              <li>대지산공원 모니터링</li>
              <li>랄랄라숲지킴이(대지산, 광교산, 석성산 등) 운영</li>
              <li>성심원자연학교</li>
            </ul>
          </li>
          <li>하천 살리기 활동
            <ul>
              <li>주민과 함께 하는 하천 모니터링(탄천, 성복천, 정평천, 안대지천, 신갈천)</li>
              <li>청소년하천동아리 ‘Fantastic 하천 7기 운영</li>
              <li>제17회 한국강의날전남목포대회 하천살리기컨테스트 클라우드상 수상</li>
              <li>제17회 한국강의날전남목포대회 청소년물환경실천분야 영산강유역청장상 수상</li>
            </ul>
          </li>
          <li>시민참여활동
            <ul>
              <li>생활환경캠페인 ‘몰라’ 소모임 운영</li>
              <li>회원 및 시민과 함께 하는 활동</li>
            </ul>
          </li>
          <li>연대활동
            <ul>
              <li>용인시민파워</li>
              <li>삼성반도체 이산화탄소 누출 노동자 사망사고 대책위원회</li>
              <li>경기환경교육네트워크</li>
              <li>경기도지속가능발전협의회</li>
              <li>한국강살리기네트워크</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div data-year="2017" class="panel panel-default">
    <div class="panel-heading" id="heading2017" role="tab">
      <h4 class="panel-title"><a aria-controls="collapse2017" aria-expanded="true" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2017">2017년</a></h4>
    </div>

    <div aria-labelledby="heading2017" class="panel-collapse collapse" id="collapse2017" role="tabpanel">
      <div class="panel-body">
        <ul>
          <li>조직 강화 활동
            <ul>
              <li>회원 확대 및 회원과의 교류 활성화</li>
              <li>홈페이지 개편 및 <span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">SNS </span></span>활동</li>
            </ul>
          </li>
          <li>동네습지 보전활동
            <ul>
              <li>습지 모니터링 및 활동 결과물 만들어내기</li>
              <li>동막골두꺼비학교 습지지킴이 운영</li>
            </ul>
          </li>
          <li>마을 숲 보전 운동
            <ul>
              <li>대지산공원 정비 및 되살리기 활동</li>
              <li>난개발 대응 및 용인시 도시계획조례 개정 운동</li>
            </ul>
          </li>
          <li>하천 살리기 운동
            <ul>
              <li>주민과 함께 하는 하천 모니터링<span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">(</span></span>탄천<span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">, </span></span>성복천<span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">, </span></span>정평천<span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">, </span></span>안대지천<span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">)</span></span></li>
              <li>청소년하천동아리 판타스틱하천 <span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">6</span></span>기 운영</li>
            </ul>
          </li>
          <li>시민 환경교육
            <ul>
              <li>대지산공원 생태체험 프로그램 기획<span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">, </span></span>운영 및 교육</li>
              <li>랄랄라숲지킴이<span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">(</span></span>대지산<span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">, </span></span>광교산<span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">, </span></span>덕암산<span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">), </span></span>성심원자연학교</li>
              <li>부아산숲<span style="background: rgb(255, 255, 255);"><span style="background: rgb(255, 255, 255);">놀이지도자</span></span>심화<span style="background: rgb(255, 255, 255);"><span style="background: rgb(255, 255, 255);">과정 교육</span></span></li>
              <li>용인시 민주시민교육 및 기타 학교환경교육</li>
            </ul>
          </li>
          <li>시민 참여활동
            <ul>
              <li>자원재활용 소모임 "새롭" 운영&nbsp;</li>
              <li>단체 활동과 연계한 시민교육<span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">, </span></span>체험 및 축제 참여 등</li>
            </ul>
          </li>
          <li>연대활동
            <ul>
              <li>용인촛불</li>
              <li>용인주민참여예산네트워크</li>
              <li>핵 없는 사회를 위한 용인행동</li>
              <li>경기환경교육네트워크</li>
              <li>한국강살리기네트워크</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div data-year="2016" class="panel panel-default">
    <div class="panel-heading" id="heading2016" role="tab">
      <h4 class="panel-title"><a aria-controls="collapse2016" aria-expanded="false" data-parent="#accordion" data-toggle="collapse" href="#collapse2016">2016년</a></h4>
    </div>

    <div aria-labelledby="heading2016" class="panel-collapse collapse" id="collapse2016" role="tabpanel">
      <div class="panel-body">
        <ul>
          <li>조직 강화 활동
            <ul>
              <li>회원 확대 및 회원과의 교류 활성화</li>
              <li>조직 내 위원회 활동 활성화</li>
              <li>경기도 <span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">“</span></span>환경 보전 유공 표창<span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">” </span></span>수상</li>
            </ul>
          </li>
          <li>동네습지 보전활동
            <ul>
              <li>주민이 활동주체가 되는 3년차 "동막골두꺼비학교" 운영</li>
              <li>마을 숲, 습지 모니터링 및 자료화</li>
            </ul>
          </li>
          <li>마을 숲 보전 운동
            <ul>
              <li>지역 난개발 대응</li>
              <li>용인시 도시계획조례 개정 반대 운동</li>
            </ul>
          </li>
          <li>하천 살리기 운동
            <ul>
              <li>탄천 및 소하천 모니터링 및 모니터링 결과의 자료화</li>
              <li>청소년 하천지킴이 "판타스틱하천 5기" 운영</li>
              <li>제<span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">15</span></span>회 한국 강의 날 전북완주대회 "환경부장관상" 수상</li>
            </ul>
          </li>
          <li>청소년 환경교육
            <ul>
              <li>청소년 환경교육 "랄랄라숲지킴이", "성심원자연학교" 운영</li>
              <li>용신민주시킨교육협의회 환경교육 및 기타 환경교육</li>
            </ul>
          </li>
          <li>시민 참여활동
            <ul>
              <li>습지보전을 위한 시민참여행사 "동막골올챙이축제" 운영</li>
              <li>자원재활용 바느질 소모임 "새롭" 운영 및 활동 지원</li>
              <li>우리마을나들이 등 시민참여 체험 프로그램 운영</li>
            </ul>
          </li>
          <li>연대활동
            <ul>
              <li>세월호를 기억하는 용인시민들의 모임</li>
              <li>용인주민참여예산네트워크</li>
              <li>경기환경교육네트워크</li>
              <li>유역보전을 위한 한국강살리기네트워크</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div data-year="2015" class="panel panel-default">
    <div class="panel-heading" id="heading2015" role="tab">
      <h4 class="panel-title"><a aria-controls="collapse2015" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2015">2015년</a></h4>
    </div>

    <div aria-labelledby="heading2015" class="panel-collapse collapse" id="collapse2015" role="tabpanel">
      <div class="panel-body">
        <ul>
          <li>조직 강화 활동
            <ul>
              <li>회원 확대 및 회원과의 교류 활성화</li>
              <li>SNS로 전하는 회원 대상 활동 소식</li>
            </ul>
          </li>
          <li>동네습지 보전활동
            <ul>
              <li>주민이 활동주체가 되는 4년차 "동막골두꺼비학교" 운영</li>
              <li>습지 모니터링 자료화 및 활용방안 모색</li>
              <li>제<span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">11</span></span>회 환경교육한마당 해설가대회 장려상 수상</li>
            </ul>
          </li>
          <li>마을 숲 보전 운동
            <ul>
              <li>대지산공원 정비 및 되살리기 활동</li>
              <li>난개발 대응 및 용인시 도시계획조례 개정 운동</li>
            </ul>
          </li>
          <li>하천 살리기 활동
            <ul>
              <li>탄천 및 소하천 모니터링, 모니터링 결과 자료화</li>
              <li>청소년 하천지킴이 "판타스틱하천 4기" 운영</li>
              <li>제<span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">14</span></span>회 한국 강의 날 부산대회 하천평화상 수상</li>
            </ul>
          </li>
          <li>시민 환경교육
            <ul>
              <li>사회 환경교육 - 랄랄라숲지킴이, 습지지킴이, 성심원자연학교</li>
              <li>학교 환경교육 - 용인시민주시민교육협의회 환경교육 및 기타 환경교육</li>
            </ul>
          </li>
          <li>시민 참여활동
            <ul>
              <li>단체의 활동 및 운동과 연계한 시민교육, 체험, 축제 등 운영</li>
              <li>자원재활용 소모임 "새롭" 운영</li>
            </ul>
          </li>
          <li>연대활동
            <ul>
              <li>용인주민참여예산네트워크</li>
              <li>용인촛불</li>
              <li>핵 없는 사회을 위한 용인행동</li>
              <li>경기환경교육네트워크</li>
              <li>한국강살리기네트워크</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div data-year="2014" class="panel panel-default">
    <div class="panel-heading" id="heading2014" role="tab">
      <h4 class="panel-title"><a aria-controls="collapse2014" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2014">2014년</a></h4>
    </div>

    <div aria-labelledby="heading2014" class="panel-collapse collapse" id="collapse2014" role="tabpanel">
      <div class="panel-body">
        <ul>
          <li>조직 강화 활동
            <ul>
              <li>회원 확대 및 회원과의 교류 활성화</li>
              <li>조직 내 위원화 활동 활성화 및 활동가 재교육 프로그램 운영</li>
              <li>환경정의 지역조직 연대 활성화</li>
              <li>경기도 <span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">“</span></span>환경 보전 유공 표창<span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">” </span></span>수상</li>
            </ul>
          </li>
          <li>시민 참여 사업
            <ul>
              <li>시민 참여 대지산 걷기 행사</li>
              <li>우리마을나들이, 동막두꺼비학교 올챙이축제 등 시민 참여 프로그램 운영</li>
              <li>회원 소모임 활동 지원</li>
            </ul>
          </li>
          <li>마을 숲 보전 운동
            <ul>
              <li>성인 생태프로그램 "동막골두꺼비학교" 운영</li>
              <li>청소년 생태프로그램 "랄라라숲지킴이" 운영 / "성심원 자연학교" 운영</li>
              <li>마을 숲, 습지 모니터링 및 자료화</li>
            </ul>
          </li>
          <li>마을 하천 살리기 운동
            <ul>
              <li>소하천 모니터링</li>
              <li>모니터링 방법 개발 및 모니터링 결과의 자료화</li>
              <li>청소년 하천동아리 "Fantastic하천 3기" 운영</li>
              <li>제<span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">13</span></span>회 한국 강의 날 담양대회 청소년하천환경상 수상</li>
            </ul>
          </li>
          <li>연대활동
            <ul>
              <li>세월호를 기억하는 용인시민들의 모임</li>
              <li>경기민간환경교육네트워크</li>
              <li>용인주민참여예산네트워크</li>
              <li>유역보전을 위한 한국강살리기네트워크</li>
              <li>민주시민교육협의회</li>
              <li>푸른경기21 생물다양성위원회</li>
              <li>지역 개발주의 대응</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div data-year="2013" class="panel panel-default">
    <div class="panel-heading" id="heading2013" role="tab">
      <h4 class="panel-title"><a aria-controls="collapse2013" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2013">2013년</a></h4>
    </div>

    <div aria-labelledby="heading2013" class="panel-collapse collapse" id="collapse2013" role="tabpanel">
      <div class="panel-body">
        <ul>
          <li>조직 강화 활동
            <ul>
              <li>환경정의 지역 조직 모임</li>
            </ul>
          </li>
          <li>시민 참여 사업
            <ul>
              <li>대지산살리기운동 기념 대지산 걷기 행사 "자박자박 대지고개까지"</li>
            </ul>
          </li>
          <li>마을 숲 보전 운동
            <ul>
              <li>성인 생태프로그램 "동막골두꺼비학교" 운영</li>
              <li>청소년 생태프로그램 "랄라라숲지킴이" 운영 / "성심원 자연학교" 운영</li>
              <li>대지산생태공원 모니터링</li>
              <li>마을 숲, 습지 모니터링 및 자료화</li>
              <li>고기동 습지에서 멸종위기 <span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">2</span></span>급 대모잠자리 발견</li>
              <li>제<span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">12</span></span>회 한국 강의 날 서울대회 "대상" 수상</li>
              <li>제<span lang="EN-US" style="letter-spacing: 0pt;"><span style="font-family: 함초롬바탕;">9</span></span>회 환경교육한마당 해설가대회 "최우수상" 수상</li>
            </ul>
          </li>
          <li>마을 하천 살리기 운동
            <ul>
              <li>소하천 모니터링</li>
              <li>모니터링 방법 개발 및 모니터링 결과의 자료화</li>
              <li>청소년 하천동아리 "Fantastic하천 2기" 운영</li>
            </ul>
          </li>
          <li>연대활동
            <ul>
              <li>경기민간환경교육네트워크</li>
              <li>탈핵연대모임</li>
              <li>용인주민참여예산네트워크</li>
              <li>유역보전을 위한 한국강살리기네트워크</li>
              <li>(가칭)탄천네트워크</li>
              <li>푸른경기21 생물다양성위원회</li>
              <li>지역 개발주의 대응</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div data-year="2012" class="panel panel-default">
    <div class="panel-heading" id="heading2012" role="tab">
      <h4 class="panel-title"><a aria-controls="collapse2012" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2012">2012년</a></h4>
    </div>

    <div aria-labelledby="heading2012" class="panel-collapse collapse" id="collapse2012" role="tabpanel">
      <div class="panel-body">
        <ul>
          <li>마을 숲 보전 운동
            <ul>
              <li>생태안내자 양성과정 운영 및 소모임 활동</li>
              <li>청소년 랄랄라숲지킴이 운영/성심원 자연학교 운영</li>
              <li>청소년 축제활동가 교육</li>
            </ul>
          </li>
          <li>생활환경실천운동
            <ul>
              <li>청년 대안생리대 모임 “해를 품은 배” 운영</li>
            </ul>
          </li>
          <li>마을 소하천 살리기 운동
            <ul>
              <li>탄천본류 및 지천(정평천, 성복천, 동막천) 모니터링</li>
              <li>탄천 버드나무 지키기 시위 및 서명운동(11월)</li>
              <li>청소년 하천동아리 “Fantastic 하천 1기” 운영</li>
            </ul>
          </li>
          <li>활동가교육
            <ul>
              <li>활동가 재교육을 위한 견학 및 공부모임 운영</li>
            </ul>
          </li>
          <li>우리마을나들이
            <ul>
              <li>천수만 탐조여행(11/11)</li>
            </ul>
          </li>
          <li>연대활동
            <ul>
              <li>경기민간환경교육네트워크</li>
              <li>용인주민참여예산네트워크</li>
              <li>강살리기네트워크</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div data-year="2011" class="panel panel-default">
    <div class="panel-heading" id="heading2011" role="tab">
      <h4 class="panel-title"><a aria-controls="collapse2011" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2011">2011년</a></h4>
    </div>

    <div aria-labelledby="heading2011" class="panel-collapse collapse" id="collapse2011" role="tabpanel">
      <div class="panel-body">
        <ul>
          <li>마을 숲 보전 운동
            <ul>
              <li>생태안내자 양성과정 운영</li>
              <li>청소년 숲 지킴이 랄랄라자연학교 운영/성심원 자연학교 운영</li>
              <li>대지산환경축제(6/11)/청소년 축제활동가 교육 및 운영</li>
            </ul>
          </li>
          <li>생활환경 실천 운동
            <ul>
              <li>소모임 “수다방” 운영/대안생리대, 친환경수세미, 이엠 만들기 등</li>
            </ul>
          </li>
          <li>하천 살리기 운동
            <ul>
              <li>동막천모니터링(6월~12월)</li>
              <li>청소년 하천지킴이 “동막천이 활짝!” 운영</li>
            </ul>
          </li>
          <li>시민대상 열린강좌 개설
            <ul>
              <li>강좌1. 구제역 바로 알기(3/31, 4/13)</li>
              <li>강좌2. 원전폭발의 실상과 위험성(7/19, 7/26)</li>
            </ul>
          </li>
          <li>연대활동
            <ul>
              <li>용인친환경무상급식운동본부</li>
              <li>경기민간환경교육네트워크</li>
              <li>용인주민참여예산네트워크</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div data-year="2010" class="panel panel-default">
    <div class="panel-heading" id="heading2010" role="tab">
      <h4 class="panel-title"><a aria-controls="collapse2010" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2010">2010년</a></h4>
    </div>

    <div aria-labelledby="heading2010" class="panel-collapse collapse" id="collapse2010" role="tabpanel">
      <div class="panel-body">
        <ul>
          <li>마을 숲 보전 운동
            <ul>
              <li>환경길라잡이 양성과정 운영</li>
              <li>청소년 숲 지킴이 랄랄라자연학교 운영</li>
              <li>가족참여 생태프로그램 “자연과 함께 하는 사람들” 운영</li>
              <li>사회복지법인 성심원 자연학교 운영</li>
              <li>대지산 환경축제(10/23)/청소년 축제기획단 운영</li>
            </ul>
          </li>
          <li>생활환경 실천 운동
            <ul>
              <li>소모임 ‘지구를 살리는 작은 실천’ 운영</li>
              <li>자료집 ‘지구를 살리는 작은 실천’ 발간</li>
            </ul>
          </li>
          <li>하천 살리기 운동
            <ul>
              <li>탄천 모니터링</li>
            </ul>
          </li>
          <li>우리마을나들이
            <ul>
              <li>딸기체험(4/10)</li>
              <li>숲속나들이(5/30)</li>
              <li>여강길 걷기(6/6)</li>
              <li>천수만 탐조여행(11/20)</li>
              <li>용인 가창리 솔부엉이축제(12/11)</li>
            </ul>
          </li>
          <li>연대활동
            <ul>
              <li>용인학교급식네트워크</li>
              <li>경기민간환경교육네트워크</li>
              <li>6.2용인희망연대</li>
              <li>일본 평화통신사 용인방문 시민사회단체 교류회</li>
              <li>가창리 가구단지 이전 대책위원회</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div data-year="2009" class="panel panel-default">
    <div class="panel-heading" id="heading2009" role="tab">
      <h4 class="panel-title"><a aria-controls="collapse2009" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2009">2009년</a></h4>
    </div>

    <div aria-labelledby="heading2009" class="panel-collapse collapse" id="collapse2009" role="tabpanel">
      <div class="panel-body">
        <ul>
          <li>마을 숲 보전 운동
            <ul>
              <li>생태안내자 양성과정 운영 및 대지산생태지도 제작</li>
              <li>청소년 숲 지킴이 랄랄라자연학교 운영</li>
              <li>사회복지법인 성심원 자연학교 운영</li>
            </ul>
          </li>
          <li>생활환경 실천 운동
            <ul>
              <li>찾아가는 환경학교</li>
              <li>그린 푸드 존 모니터링</li>
              <li>살충제 관련 조례 개정 운동</li>
              <li>실내외 살충제 도포 현황 및 살충제 관련 주민의식도 조사</li>
            </ul>
          </li>
          <li>기후변화 및 에너지 대안 마련 사업
            <ul>
              <li>시민대상 기후변화 및 에너지 교육</li>
              <li>친환경 에너지 도시를 위한 제도 마련 토론회(10월)</li>
            </ul>
          </li>
          <li>하천 살리기 활동
            <ul>
              <li>청소년 하천지킴이단 운영</li>
            </ul>
          </li>
          <li>우리마을나들이
            <ul>
              <li>도농교류(이동면 시미리)-감자심기/모내기/감자캐기/물속생물관찰</li>
            </ul>
          </li>
          <li>연대활동
            <ul>
              <li>용인학교급식네트워크</li>
              <li>경기민간환경교육네트워크</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div data-year="2008" class="panel panel-default">
    <div class="panel-heading" id="heading2008" role="tab">
      <h4 class="panel-title"><a aria-controls="collapse2008" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2008">2008년</a></h4>
    </div>

    <div aria-labelledby="heading2008" class="panel-collapse collapse" id="collapse2008" role="tabpanel">
      <div class="panel-body">
        <ul>
          <li>마을 숲 보전 운동
            <ul>
              <li>환경길라잡이 양성과정 운영</li>
              <li>청소년 대지산지킴이단 및 대지산/광교산 자연학교 운영</li>
              <li>사회복지법인 성심원 자연학교 운영</li>
              <li>대지산 환경축제(10/31)</li>
            </ul>
          </li>
          <li>하천 살리기 활동
            <ul>
              <li>청소년 하천지킴이단 운영/구갈 레스피아 견학</li>
              <li>친환경 하천 살리기 심포지엄</li>
            </ul>
          </li>
          <li>찾아가는 성인 환경학교
            <ul>
              <li>안전한 먹을거리/생활 속 유해물질/기후변화와 에너지</li>
            </ul>
          </li>
          <li>우리마을나들이
            <ul>
              <li>삼봉산 봄나들이(4/6)</li>
              <li>학일리 동네 한 바퀴(6/1)</li>
              <li>우리 동네 문화재 답사(9/28)</li>
              <li>경안천 탐조여행(11/16)</li>
            </ul>
          </li>
          <li>연대활동
            <ul>
              <li>용인학교급식네트워크</li>
              <li>골프장 개발 반대 대책위원회</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div data-year="2007" class="panel panel-default">
    <div class="panel-heading" id="heading2007" role="tab">
      <h4 class="panel-title"><a aria-controls="collapse2007" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2007">2007년</a></h4>
    </div>

    <div aria-labelledby="heading2007" class="panel-collapse collapse" id="collapse2007" role="tabpanel">
      <div class="panel-body">
        <ul>
          <li>마을 숲 보전 운동
            <ul>
              <li>숲 생태안내자 양성과정 운영</li>
              <li>청소년 동아리 대지산지킴이단 운영</li>
              <li>사회복지법인 성심원 자연학교 운영</li>
              <li>대지산 환경축제(6/9)</li>
            </ul>
          </li>
          <li>탄천 살리기 활동
            <ul>
              <li>탄천 모니터링</li>
            </ul>
          </li>
          <li>어린이 환경권 지키기 운동
            <ul>
              <li>문방구 먹을거리 실태조사</li>
              <li>급식조례 평가 토론회</li>
            </ul>
          </li>
          <li>우리마을나들이
            <ul>
              <li>홍성친환경농업마을 체험(6/6)</li>
              <li>학일리정보화마을 체험(10/21)</li>
            </ul>
          </li>
          <li>연대활동
            <ul>
              <li>녹색자치경기연대</li>
              <li>평택호 살리기 네트워크</li>
              <li>용인학교급식네트워크</li>
              <li>골프장 건설 반대 대책위원회</li>
            </ul>
          </li>
          <li>사무공간 이전(10월, 용인시 수지구 동천동 882-3)</li>
        </ul>
      </div>
    </div>
  </div>

  <div data-year="2006" class="panel panel-default">
    <div class="panel-heading" id="heading2006" role="tab">
      <h4 class="panel-title"><a aria-controls="collapse2006" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2006">2006년</a></h4>
    </div>

    <div aria-labelledby="heading2006" class="panel-collapse collapse" id="collapse2006" role="tabpanel">
      <div class="panel-body">
        <ul>
          <li>마을 숲 보전 운동
            <ul>
              <li>대지산 숲 생태안내자 양성과정 운영(9~12월)</li>
              <li>청소년 동아리 대지산지킴이단 운영</li>
              <li>대지산 숲 가꾸기</li>
              <li>대지산 환경축제(6/3)</li>
            </ul>
          </li>
          <li>하천 살리기 활동
            <ul>
              <li>경안천 탐사 및 습지공원 나들이(8/4)</li>
              <li>탄천탐사((8/7)</li>
              <li>탄천 살리기 시민 워크숍</li>
            </ul>
          </li>
          <li>어린이 환경권 지키기 운동
            <ul>
              <li>어린이 환경보건 관련자 미팅 및 연대회의체 구성</li>
              <li>학교 앞 문방구 먹을거리 및 보행환경 실태조사</li>
              <li>학교급식 개선을 위한 워크숍</li>
              <li>학교 실내공기 질 조사 사업</li>
              <li>어린이환경권 지키기 워크숍 및 어린이환경권 가이드북 제작</li>
            </ul>
          </li>
          <li>우리마을나들이
            <ul>
              <li>낙생저수지 나들이(4/15)</li>
              <li>한택식물원 나들이(4/22)</li>
              <li>광교산 나들이(5/20)</li>
              <li>시화호 갯벌생태조사(5/28)</li>
              <li>대지산 나들이(6/24)</li>
              <li>소실봉 나들이(10/21)</li>
            </ul>
          </li>
          <li>연대활동
            <ul>
              <li>평택호 살리기 네트워크</li>
              <li>낙생저수지 살리기 운동</li>
              <li>5.31지방선거 대응 활동</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div data-year="2005" class="panel panel-default">
    <div class="panel-heading" id="heading2005" role="tab">
      <h4 class="panel-title"><a aria-controls="collapse2005" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2005">2005년</a></h4>
    </div>

    <div aria-labelledby="heading2005" class="panel-collapse collapse" id="collapse2005" role="tabpanel">
      <div class="panel-body">
        <ul>
          <li>용인환경정의 창립
            <ul>
              <li>환경정의 이사회에서 ‘용인환경정의’ 창립 승인(2/19)</li>
              <li><strong><span style="color: rgb(255, 0, 0);">용인환경정의 창립총회 개최(2/26)</span></strong></li>
            </ul>
          </li>
          <li>대지산 살리기 운동(대지산 생태공원 조성사업)
            <ul>
              <li>숲 생태안내자 교육</li>
              <li>대지산 생태공원 완공 기념 시민 숲 축제(5/29)</li>
            </ul>
          </li>
          <li>움직이는 여성환경학교
            <ul>
              <li>안전한 먹을거리 및 생활 속 유해물질 교육(5~9월)</li>
            </ul>
          </li>
          <li>어린이 환경권 지키기 운동
            <ul>
              <li>어린이 환경보건 시민교육(8~10월)</li>
            </ul>
          </li>
          <li>탄천 살리기 운동
            <ul>
              <li>하천 살리기 시민모임 구성</li>
              <li>탄천 하천정비 현황조사(10/11, 11/5)</li>
              <li>시민 하천환경학교(10/21, 10/25)</li>
              <li>하천 살리기 워크숍(11/24)</li>
            </ul>
          </li>
          <li>연대활동
            <ul>
              <li>평택호 살리기 네트워크</li>
              <li>낙생저수지 살리기 활동</li>
              <li>영덕~양재 고속도로 반대 수도권 공동대책위</li>
              <li>2010 용인도시계획 규탄 집회</li>
              <li>죽전도서관건립협의회</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div data-year="2004" class="panel panel-default">
    <div class="panel-heading" id="heading2004" role="tab">
      <h4 class="panel-title"><a aria-controls="collapse2004" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2004">2004년</a></h4>
    </div>

    <div aria-labelledby="heading2004" class="panel-collapse collapse" id="collapse2004" role="tabpanel">
      <div class="panel-body">
        <ul>
          <li><strong><span style="color: rgb(255, 0, 0);">‘용인 환경정의시민연대’에서 ‘용인 환경정의’로 단체 명칭 변경</span></strong></li>
          <li>대지산 살리기 운동(대지산 생태공원 조성사업)
            <ul>
              <li>대지산 모니터링단 회의(총5차)</li>
              <li>대지산 생태공원 사업설명회(총2차)</li>
              <li>대지산 야생화단 만들기(4/18)</li>
              <li>대지산 보듬기 숲 축제(10/23)</li>
            </ul>
          </li>
          <li>다음지킴이 환경학교
            <ul>
              <li>안전한 먹을거리 및 생활 속 유해물질 교육(총10강)</li>
            </ul>
          </li>
          <li>다음을 지키는 생태모임
            <ul>
              <li>생태안내자 모임 “애기똥풀” (7~11월)</li>
              <li>다음세대와 함께하는 나무벌레 만들기(8/8)</li>
              <li>어린이생태교육</li>
            </ul>
          </li>
          <li>광교산 살리기 운동
            <ul>
              <li>대책위 상황실 상근(3~5월)</li>
              <li>토월녹지보전 항의집회(4/1)</li>
              <li>광교산 식목행사(4/5)</li>
            </ul>
          </li>
          <li>&nbsp;탄천 살리기 운동
            <ul>
              <li>탄천 오염원 조사(4~6월)</li>
              <li>용인시민사회토론회 탄천오염도 발표(9/12)</li>
              <li>탄천 개선방안 심포지엄(11/23)</li>
            </ul>
          </li>
          <li>연대활동
            <ul>
              <li>제17대 총선후보자 정책토론회(4/3)</li>
              <li>평택호 살리기 네트워크</li>
              <li>영덕～양재 고속도로 공동 대책위</li>
              <li>용인사랑주민연대회의</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div data-year="2003" class="panel panel-default">
    <div class="panel-heading" id="heading2003" role="tab">
      <h4 class="panel-title"><a aria-controls="collapse2003" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2003">2003년</a></h4>
    </div>

    <div aria-labelledby="heading2003" class="panel-collapse collapse" id="collapse2003" role="tabpanel">
      <div class="panel-body">
        <ul>
          <li>용인 지역조직 창립 준비
            <ul>
              <li><strong><span style="color: rgb(255, 0, 0);">“용인 환경정의시민연대”로 단체 설립 신고(1/5)</span></strong></li>
              <li>환경정의시민연대 내 지역조직 태스크포스팀 구성(1월)</li>
              <li>지역조직 참가자 모색 및 인터뷰(2~3월)</li>
              <li>지역 환경에 대한 기초 조사시작(3월)</li>
              <li>1~5차 추진모임회의(3~7월)</li>
              <li>용인 지역조직 건설을 위한 워크숍(5월)</li>
              <li>추진위원대회 개최(7/8)</li>
              <li>용인 기흥구 상갈리에 사무 공간 마련(7월)</li>
              <li>1~5차 운영위원회(8~11월)</li>
              <li>용인 수지구 풍덕천2동 샤르망오피스텔로 사무 공간 이전(9월)</li>
              <li>용인 환경정의시민연대 준비위원 대회(11/19)</li>
            </ul>
          </li>
          <li>대지산 살리기 운동(대지산 생태공원 조성사업)
            <ul>
              <li>대지산 나무심기 행사(4/30)</li>
              <li>대지산 생태공원 모니터링단 회의(월1회)</li>
              <li>대지산 생태지도 제작을 위한 식생조사 (9/30, 10/2)</li>
              <li>대지산 숲 생태학교(6/12~7/22)</li>
              <li>대지산 보듬기 숲 축제(10/18)</li>
            </ul>
          </li>
          <li>다음지킴이 환경학교
            <ul>
              <li>안전한 먹을거리 및 생활 속 유해물질 교육(총7강)</li>
            </ul>
          </li>
          <li>탄천 살리기 운동
            <ul>
              <li>탄천 수질 보전 활동</li>
            </ul>
          </li>
          <li>연대사업
            <ul>
              <li>평택호 살리기 네트워크 활동</li>
              <li>밝은 보육 세상을 여는 시민의 모임</li>
              <li>용인시 보육조례제정을 위한 시민모임</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div data-year="2002" class="panel panel-default">
    <div class="panel-heading" id="heading2002" role="tab">
      <h4 class="panel-title"><a aria-controls="collapse2002" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2002">2002년</a></h4>
    </div>

    <div aria-labelledby="heading2002" class="panel-collapse collapse" id="collapse2002" role="tabpanel">
      <div class="panel-body">
        <ul>
          <li>환경정의시민연대의 대지산 살리기 운동
            <ul>
              <li>대지산 자연공원 조성 모니터링위원회 구성(3월)</li>
              <li>대지산 보듬기 숲 축제(5/26)</li>
            </ul>
          </li>
          <li>움직이는 여성환경학교
            <ul>
              <li>생활 속 유해물질/GMO/실습교육</li>
            </ul>
          </li>
          <li>탄천 살리기 운동
            <ul>
              <li>탄천 수질오염 모니터링 및 지킴이활동/토론회/워크숍</li>
            </ul>
          </li>
          <li>환경정의시민연대 내 용인 지역조직 창립논의 제기(12월)</li>
        </ul>
      </div>
    </div>
  </div>

  <div data-year="2001" class="panel panel-default">
    <div class="panel-heading" id="heading2001" role="tab">
      <h4 class="panel-title"><a aria-controls="collapse2001" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2001">2001년</a></h4>
    </div>

    <div aria-labelledby="heading2001" class="panel-collapse collapse" id="collapse2001" role="tabpanel">
      <div class="panel-body">
        <ul>
          <li><strong>환경정의시민연대의 대지산 살리기 운동</strong>

            <ul>
              <li>죽전지구 환경영향평가 왜곡에 대한 기자회견(2월)</li>
              <li>대지산 식생조사(3월)</li>
              <li>대지산 나무 위 시위(4.29~5.15)</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div data-year="2000" class="panel panel-default">
    <div class="panel-heading" id="heading2000" role="tab">
      <h4 class="panel-title"><a aria-controls="collapse2000" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse2000">2000년</a></h4>
    </div>

    <div aria-labelledby="heading2000" class="panel-collapse collapse" id="collapse2000" role="tabpanel">
      <div class="panel-body">
        <ul>
          <li>환경정의시민연대의 대지산 살리기 운동
            <ul>
              <li>“용인서북부지역택지지구지정철회및자연환경보존을위한공동대책위” 발족(6월)</li>
              <li>대지산 그린벨트 지정 청원(7월)</li>
              <li>대지산 땅 한 평 사기 운동 전개(8월)</li>
              <li>대지산 땅 한 평 사기 운동을 통한 100평 매입 기념행사(11월)</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
