/**
 * @file
 * Visual styles for Startup Growth's popular tags views.
 */
.view-mt-popular-tags .views-row {
  display: inline-block;
  margin: 0 1px 3px 0;
}
.view-mt-popular-tags .views-row a {
  padding: 5px 8px;
  background-color: #080808;
  color: #e1e1e1;
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 11px;
  text-decoration: none;
}
.view-mt-popular-tags .views-row a:hover {
  text-decoration: none;
  color: #fff;
}
.colored-region.black .view-mt-popular-tags .views-row a {
  color: #555;
}
.colored-region .view-mt-popular-tags .views-row a:hover {
  color: #fff;
}
